@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Bold.ttf);
    font-weight: 700;
}

body {
    font-family: Lato;
    font-weight: 400;
    font-size: 16px;
    color: #03101A;
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a, button, input, select {
    outline: none;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

ul, li {
    list-style-type: none;
}

/* ----- Common styles ----- */
.btn {
    color: #03101A;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 10px;
}

.btn:hover {
    color: #1F98F0;
    transition: 0.3s ease;
    box-shadow: 0px 4px 6px rgba(252, 252, 252, 0.30);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.subtittle {
    font-weight: 700;
    font-size: 38px;
}

.heading {
    font-size: 28px;
    font-weight: 600;
}   

.subheading {
    font-weight: 500;
    font-size: 21px;
}

/* ----- Homescreen ----- */
.homescreen {
    background-color: #1F98F0;;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 80px;
}

.header__nav {
    display: flex;
}

.header__nav li {
    font-family: 'Work Sans', sans-serif;
    opacity: 0.7;
    padding-right: 50px;
}

.header__nav li:hover {
    opacity: 1;
    transition: 0.3s ease;
}

.banner {
    display: flex;
    justify-content: space-between;
}

.banner__tittle {
    font-family: 'Work Sans', sans-serif;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 51px;
    max-width: 500px;
    margin-top: 150px;
}

.banner__description {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 30px;
    max-width: 488px;
    margin-bottom: 50px;
}

.banner__img {
    margin-right: -45px;
}

/* ----- Partners ------ */
.partners__inner {
    padding: 60px 0 60px 0;
}

.partners__tittle {
    font-weight: 500;
    font-size: 22px;
    padding-bottom: 40px;
}

.patners__logo {
    opacity: 0.7;
    display: flex;
    justify-content: space-between;
}

/* ----- Features ------ */
.features__inner {
    display: flex;
    margin-top: -20px;
}

.features__img {
    margin-top: -20px;
    margin-left: -160px;
}

.features__content {
    margin-left: -80px;
}

.feautures__subtittle {
    margin-top: 160px;
    padding-bottom: 80px;
}

.features__item {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.features__item img {
    max-width: 92px;
}

.features__item-text {
    margin-left: 30px;
}

.features__item-description {
    margin-top: 20px;
    max-width: 440px;
    line-height: 150%;
}

/* Testimonials */
.testimonials_subtittle {
    margin-top: -160px;
    text-align: center;
    margin-bottom: 80px;
}

.testimonials__content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.testimonials__item {
    text-align: center;
    max-width: 290px;
    margin-bottom: 80px;
}

.testimonials__item-subheading {
    padding: 20px 0 20px 0;
}

.testimonials__item-description {
    text-align: center;
    opacity: 0.7;
    line-height: 150%;
    max-width: 260px;
}

/* ----- Insert ----- */
.insert {
    background-color: #1F98F0;
}

.insert__inner {
    display: flex;
    justify-content: space-between;
    padding: 90px 0 90px 0;
}

.insert__subtittle {
    color: #FFFFFF;
}

.insert__btn {
    padding: 20px 50px;
    color: #1F98F0;
}

/* ----- News ----- */
.news__inner {
    padding: 120px 0 120px 0;
}

.news__subtittle {
    text-align: center;
}

.news__content {
    display: flex;
    justify-content: space-between;
}

.news__item img {
    margin: 80px 0 25px 0;
}

.news__item-description {
    margin: 15px 0 30px 0;
    max-width: 330px;
    opacity: 0.7;
}

.news__item-btn {
    color: #1F98F0;
    font-size: 18px;
}

/* ----- Footer ----- */
.footer {
    background-color: #03101A;
}

.footer__inner {
    padding: 100px 0 100px 0;
    
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav__item {
    color: #FFFFFF;
}

.nav__item a {
    display: block;
    opacity: 0.7;
    margin: 40px 0 15px 0;
}

.nav__item a:hover{
    color: #1F98F0;
    opacity: 1;
    transition: 0.3s ease;
}

.nav__item-description {
    margin-top: 35px;
    max-width: 330px;
    opacity: 0.7;
}


